*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif          ;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: rgba(115, 180, 255, 0.785);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#panel{
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(10, 95, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.box{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.num{
    color: rgb(10, 95, 151);
    font-weight: 600;
    font-size: 25px;
    padding:  10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px;
    flex-wrap: wrap;
}
.bubble{
    width: 45px;
    height: 45px;
    background-color: rgb(10, 95, 151);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(1, 59, 97);
}
#error {
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
